body{
        background:url(image/timg.jpg) no-repeat;
        background-size: cover;
    }

    h1, h2, h3, h4, h5, p, table{
        color:#ffffff;
    }

    .container{ 
        background:#000000;
        height:90%;
        width:90%;
        border-radius:10px;
        margin:20px auto;
        opacity: 0.5;
    }

    .page-header{
        text-align:center;
    }

    .table th, .table td{
        text-align:center;
    }

    .table{
        width:90%; 
        margin:50px auto; 
        /*border-top:1px solid #ffd800;*/
        border-bottom:1px solid #ffffff;
    }

    .bottom .table{
        border-bottom:none;
    }

    .left{
        text-align:right;
    }

    .right{
        text-align:left;
    }

    .bottom .table td{  
        border-top:none;
    }

    .description{
        margin: 30px auto;
        font-size:12.5px;
        width:90%;
    }

    .list-group{
        list-style-type:none;
        
    }

    .list-group-item{
        background-color:transparent;
        border-radius:0;
        border:0;
    }

    .list-group-item h5:before{
        content:". ";
        color:#efeb08;
    }

    .bottom .table td:first-child{
        border-right:1px solid;
    }

    .top tr:first-child{
        background: #c8bbbb;
        opacity: 0.9;
        z-index:-100;       
    }

    .top tr:first-child td{
        border-top: 1px solid #ffd800;
        border-bottom: 1px solid #ffd800;
    }